# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\lyesp\Desktop\Study\S04\POO\POO_Pharmacie\.idea/dataSources/
/dataSources.local.xml
